{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "controllers": "./src/controllers",
          "models": "./src/models",
          "utils": "./src/libs/utils"
        }
      }]
  ]
}
